<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hands Talk</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" type="image/x-icon" href="../static/sign_language_icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>

</head>

<body>
    <h1>
        <span class="material-symbols-outlined">sign_language</span>
        Hands Talk
    </h1>
    <div class="form-box">
        <form action="/login" method="POST">
            <fieldset>
                <legend>Login</legend>

                <div class="form-group">
                    <label for="Username"><b>Username or Email:</b></label>
                    <input type="text" id="username" placeholder="Enter Username or Email" name="username" required>
                </div>

                <div class="form-group">
                    <label for="password"><b>Password:</b></label>
                    <input type="password" id="password" placeholder="Enter Password" name="password" required>
                </div>

                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                <button type="submit" class="login-btn">Login</button>
            </fieldset>
            <p>Don't have an account? <a href="/register">Register here</a></p>
            <p><a href="/forgot-password">Forgot Password?</a></p>
        </form>
    </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="error">{{ message }}</div>
                    {% elif category == 'success' %}
                        <div class="success">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
</body>

</html>